<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lego Collection</title>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body tabIndex="-1">
      <%- include('partials/navbar', {page: '/about'}) %>

        <div class="container mx-auto">
            <div class="hero bg-base-300 p-6">
                <div class="hero-content text-center">
                  <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">About the website author.</p>
                  </div>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <img class="w-full rounded-lg" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mTkN094QV7fCRbVLoQKjmQHaEp%26pid%3DApi&f=1&ipt=bcc1a93ed234e73c838ea626ba4edabf5aaa0a5f9213eb5410ef2e7d49118cae&ipo=images" alt="profile">
                </div>
                <div>
                    <p class="text-justify">My name is David Tang and I'm currently studying computer programing in Seneca College. This website is part of my semester 3 WEB322 assignment. Making this website is majorly involve in using express, tailwind, and daisyUI.</p>
                    <br>
                    <p>Update: moving to ejs in AS-4 (November 1, 2023)</p>
                </div>

            </div>
    </body>
</html>